.main_cs{
    display: flex;
    /* width: calc(100vw - 40px); */
    padding: 20px 70px;
    justify-content: center;
    align-items: center;
}

.cs{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container{
    padding: 0 5%;
    width: 100%;
    margin: 0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    border-radius: 10%;
    color: white;
    padding: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
